.maincon3_container h1{
    text-align: left;
    margin-left: 3rem;
}
.maincon3_container {
    margin-top: 1rem;
    padding: 1rem;
}
.body{
    font-family: "Montserrat"; 
    background-color: aliceblue;
  }
@keyframes scroll {
    0% {
        transform: translateX(0);
   }
    100% {
        transform: translateX(calc(-250px * 7));
   }
}
.slider {
    background: white;
    height: auto;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 92%;
}
.slider::before, .slider::after {
    content: "";
    height: auto;
    position: absolute;
    width: 350px;
    z-index: 2;
}
.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}
.slider::before {
    left: 0;
    top: 0;
}
.slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}
.slider .slide {
    height: auto;
    width: 350px;
    padding:1rem;
}
.slide{
    margin: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 8px black;
}
.slide h5{
    margin: 0.7rem;
}