body {
  margin: 0;
  
  font-family: "Montserrat"; 
  background-color:  rgb(250, 80, 80);
  font-weight: 600;
  
 
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
